.App{
    width:100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

header{
    background-color: white;
    display: flex;
}
li{
    list-style:none;
}

.opcoes{
    display: flex;
}
.opcao{
    display: flex;
    font-size:12px;
    justify-content: center;
    align-items: center;
    min-width:120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-align: center;
    padding: 0px, 5px;
    cursor: pointer;
}